:root {
  --captain-america-light-blue: #0000ff;
  --captain-america-dark-blue: #002d5c;
  --captain-america-red: #870000;
  --captain-america-grey: #a5a5ab;
  --captain-america-white: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
    background: url(/assets/img/oscon.jpg) no-repeat center center fixed;
  background-size: cover;
  color: var(--captain-america-white);
  font-family: helvetica Neue;
}

#typed h1 {
  font-size: 2rem;
  color: var(--captain-america-white);
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ff8c00;
}
a:hover {
  text-decoration: underline;
  color: var(--captain-america-red);
  font-size: 2rem;
}
.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  background: rgba(0, 45, 92, 0.5);
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(h1) {
  margin-top: 0;
}

.cover > :last-child:not(h1) {
  margin-bottom: 0;
}

.cover > h1 {
  margin-top: auto;
  margin-bottom: auto;
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
}

.stack p {
  flex: 1 1 auto;
  position: relative;
justify-content: center;
  margin-top: 5%;
  max-width: 440px;
  font-size: 1.3rem;
}


/* Vets Who Code Records Form */
.container {
  background-color: var(--captain-america-dark-blue);
  border-color: var(--captain-america-white);
  max-width: 500px;
}

.entry-form {
  margin-top: 5%;
  margin-left: 5%;
}

.entry-form p {
  padding-right: 5%;
  text-align: center;
}


.title {
  font-weight: 900;
  font-size: 1.5rem;
  padding-top: 3%;
  text-align: center;
  padding-right: 5%;
}


input {
  height: 25px;
  max-width: 350px;
  margin-bottom: 5%;
}
button {
  box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

button:hover {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
button:active {
  position:relative;
	top:1px;
}

#submit-btn {
  margin-bottom: 5%;
}
table {
  border-collapse: collapse;
}
 th {
 background-color: var(--captain-america-light-blue);
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

td {
  background-color: var(--captain-america-light-blue);
}

td:hover {
  background-color: var(--captain-america-red);
}
